@model IEnumerable<UnitedReporting.Model.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="categoryTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Create", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script src="~/Areas/Admin/Scripts/jquery.dataTables.min.js"></script>
    <script src="http://jquery-datatables-row-reordering.googlecode.com/svn/trunk/media/js/jquery.dataTables.rowReordering.js"></script>
    <script>
        $(document).ready(function () {
            $('#categoryTable').dataTable().rowReordering({ sURL: "/Admin/CategoryManager/UpdateOrder" });
        });
    </script>
}
