@model UnitedReporting.Model.Contact

@{
    ViewBag.Title = "ScheduleServiceDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ScheduleServiceDetails</h2>

<fieldset>
    <legend>Client</legend>
    
    <p>
        <label>Client's Name</label>
        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
    </p>

    <p>
        <label>Attorney's Name</label>
        @Html.DisplayFor(model => model.AttorneyFirstName) @Html.DisplayFor(model => model.AttorneyLastName)
    </p>
    
    <p>
        <label>Firm Name</label>
        @Html.DisplayFor(model => model.FirmName)
    </p>
    <p>
        <label>Phone</label>
        @Html.DisplayFor(model => model.Phone)
    </p>
    
    <p>
        <label>Email</label>
        @Html.DisplayFor(model => model.Email)
    </p>
</fieldset>
<fieldset>
    <legend>Deposition</legend>

    <p>
        <label>Case Number</label>
        @Html.DisplayFor(model => model.CaseNumber)
    </p>
    
    <p>
        <label>Case Name</label>
        @Html.DisplayFor(model => model.CaseName)
    </p>

    <p>
        <label>Proceeding Date</label>
        @Html.DisplayFor(model => model.PreceedingDate)
    </p>
    
    <p>
        <label>Requested Service</label>
        @Html.DisplayFor(model => model.RequestedServices)
    </p>
    
    @Html.DisplayFor(model => model.NoticeFilePath)

    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <p>
            <label>Notes</label>
            @Html.DisplayFor(model => model.Message)
        </p>
    }
    
    <p>
        <label>Created On</label>
        @Model.CreatedOn.AddHours(3)
    </p>
</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
