@model UnitedReporting.Model.TranscriptOrder

@{
    ViewBag.Title = "TranscriptOrderDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Transcript Order</h2>
<fieldset>
    <p>
        <label>Ordering Attorney</label>
        @Html.DisplayFor(model => model.OrderingAttorney)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.FirmName)</label>
        @Html.DisplayFor(model => model.FirmName)
    </p>
    
    <p>
        <label>Address</label>
        @Html.DisplayFor(model => model.Address1)<br/>
        @if (!string.IsNullOrWhiteSpace(Model.Address2))
        {
            @Html.DisplayFor(model => model.Address2)<br/>
        }
        @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) 
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.Email)</label>
        @Html.DisplayFor(model => model.Email)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.Phone)</label>
        @Html.DisplayFor(model => model.Phone)
    </p>
    
    <p>
        <label>@Html.DisplayNameFor(model => model.CaseStyle)</label>
        @Html.DisplayFor(model => model.CaseStyle)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.DateTaken)</label>
        @Html.DisplayFor(model => model.DateTaken)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.DeponentsOrJudge)</label>
        @Html.DisplayFor(model => model.DeponentsOrJudge)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.DateNeeded)</label>
        @Html.DisplayFor(model => model.DateNeeded)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.Excerpt)</label>
        @Html.DisplayFor(model => model.Excerpt)
    </p>

    <p>
        <label>@Html.DisplayNameFor(model => model.CreatedOn)</label>
        @Model.CreatedOn.AddHours(3)
    </p>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
